.leftMenu{
    background: #FCBC87;
}

.circle{
    border-radius: 50%;
    display: table-cell;
    width: 90px;
    height: 90px;
    background: #FFF;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    color: black;
}
.profile, .profileM{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
}

.profile{
    c: url(girl.png);
}

.profileM{
    background-image: url(man.png);
}
.center{
    margin: auto;
    margin-top: 10px;
}

.profile:focus, .profileM:focus{
    border: none;
    outline: none;
}
.row.abc{
    margin-top: 20px;
    
}
.canvas-wrap { position:relative; width:100%; height:150px;    margin-bottom: 50px; }
.canvas-wrap canvas { position:absolute; top:57px; left:0; z-index:0; width:100%; }
.nav-link:focus, .nav-link:hover, .nav-link:active  {
    text-decoration: none;
    border: 4px solid grey;
}
.bubble{
    background: #FCBC87;
}
.bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 25px;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #FCBC87;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.leftTable{
    padding-right: 50px; 
}

.rightTable{
    padding-left: 50px; 
}

#app{
    border-right: 10px solid grey;
    border-left: 10px solid grey;
    border-top: 10px solid grey;
    border-radius: 25px;
}

.noteImg{
    display: block;
    /* text-align: center; */
    margin: 0 auto;
}